<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Phrase</title>
  </head>
  <body>
    <h1>Edit Phrase</h1>
    <form action="/phrases/<%=phrase._id%>?_method=PUT" method="POST">
      <div>
        <label for="phrase">Topic</label>
        <input type="type" id="phrase" name="phrase" value="<%=phrase%>" />
      </div>
      <div>
        <label for="phrase">Phrase</label>
        <input type="type" id="phrase" name="phrase" value="<%=phrase%>" />
      </div>
      <button>Update Comment</button>
      <a href="/phrases/<%= phrase._id%>">Back To Comment</a>
    </form>
  </body>
</html>
