<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phrases</title>
  </head>
  <body>
    <h1>All Phrases</h1>
    <div>
      <a href="/phrases/new ">Add Phrase</a>
    </div>

    <ul>
      <% for (let phrase of phrases) {%>
      <li>
        <a href="/phrases/<%= phrase._id %>"><%= phrase.phrase%></a>
      </li>
      <% } %>
    </ul>
  </body>
</html>
