<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Topic</title>
  </head>
  <body>
    <form action="/topics/new" method="POST">
      <div>
        <label for="topic">Topic</label>
        <input type="type" id="topic" name="topic" />
      </div>
      <button>Add Topic</button>
    </form>
    <a href="/topics">All Topics</a>
  </body>
</html>
